# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
from pprint import pprint

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
city_df = pd.read_csv('weatherdata.csv')
city_df.dropna(inplace = True) 
city_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,yellowknife,62.4560,-114.3525,-5.80,79.0,13.0,4.92,CA,1.651227e+09
1,ushuaia,-54.8000,-68.3000,5.81,70.0,40.0,12.86,AR,1.651227e+09
2,torbay,47.6666,-52.7314,3.15,95.0,100.0,4.02,CA,1.651227e+09
3,beringovskiy,63.0500,179.3167,-2.92,96.0,100.0,6.42,RU,1.651227e+09
4,hilo,19.7297,-155.0900,21.00,93.0,40.0,1.54,US,1.651227e+09
...,...,...,...,...,...,...,...,...,...
628,xambioa,-6.4111,-48.5364,23.49,87.0,99.0,0.99,BR,1.651227e+09
629,tokur,53.1333,132.9000,-3.32,83.0,65.0,1.26,RU,1.651227e+09
630,tilichiki,60.4667,166.1000,-1.97,88.0,69.0,3.61,RU,1.651227e+09
631,kurtamysh,54.9103,64.4319,11.59,57.0,78.0,3.88,RU,1.651227e+09
632,merauke,-8.4667,140.3333,27.25,82.0,80.0,5.79,ID,1.651227e+09

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# Store latitude and longitude in locations
locations = city_df[["Lat", "Lng"]]

# Fill NaN values and convert to float
hums = city_df["Humidity"].astype(float)

In [4]:
# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=hums, 
                                 dissipating=False, max_intensity=10,
                                 point_radius=3)


# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [5]:
# filtering - > boolean series 
# access from dataframe

In [11]:
#desirable values
temp_lower_limit = city_df["Max Temp"] >= 24
temp_upper_limit = city_df["Max Temp"] <= 35
wind_speed_limit = city_df["Wind Speed"] <=10
wind_speed_limit = city_df["Wind Speed"] >=6
cloudiness_limit = city_df["Cloudiness"] <=15


hotel_df = city_df.loc[temp_lower_limit & temp_upper_limit & wind_speed_limit & cloudiness_limit]
hotel_df.loc[:,"Hotel Name"] = "NaN"
hotel_df

C:\Users\David\anaconda3\lib\site-packages\pandas\core\indexing.py:1667: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = value

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
6,rikitea,-23.1203,-134.9692,25.12,63.0,8.0,8.28,PF,1.651227e+09,NaN
10,tautira,-17.7333,-149.1500,26.96,75.0,13.0,9.38,PF,1.651227e+09,NaN
31,east london,-33.0153,27.9116,26.05,53.0,4.0,9.12,ZA,1.651227e+09,NaN
53,faanui,-16.4833,-151.7500,27.73,71.0,1.0,10.12,PF,1.651227e+09,NaN
107,qujing,25.4833,103.7833,28.01,20.0,15.0,7.32,CN,1.651227e+09,NaN
191,tiarei,-17.5333,-149.3333,25.01,74.0,3.0,10.10,PF,1.651227e+09,NaN
258,fare,-16.7000,-151.0167,27.65,69.0,1.0,10.90,PF,1.651227e+09,NaN
479,pasni,25.2631,63.4710,31.46,61.0,0.0,10.35,PK,1.651227e+09,NaN
490,vaitape,-16.5167,-151.7500,27.71,71.0,1.0,10.11,PF,1.651227e+09,NaN
525,lianran,24.9227,102.4850,27.30,19.0,7.0,6.33,CN,1.651227e+09,NaN

In [12]:
# base url
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

for ind in hotel_df.index:
    print(ind)
    print()
    
    target_coordinates = str(hotel_df['Lat'][ind])+", "+str(hotel_df['Lng'][ind])
    target_radius = 5000
    target_type = "lodging"
    target_search = "hotel"

    # set up a parameters dictionary
    params = {
        "location": target_coordinates,
        #"keyword": target_search,
        "radius": target_radius,
        "type": target_type,
        "key": g_key
    }
    # run a request using our params dictionary
    response = requests.get(base_url, params=params)
    try:
        hotel_df.loc[ind,"Hotel Name"] = response.json()["results"][0]["name"]
    except:
        print("no hotels in radius")
hotel_df

6

10

C:\Users\David\anaconda3\lib\site-packages\pandas\core\indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

31

53

107

191

258

479

490

525

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
6,rikitea,-23.1203,-134.9692,25.12,63.0,8.0,8.28,PF,1.651227e+09,People ThankYou
10,tautira,-17.7333,-149.1500,26.96,75.0,13.0,9.38,PF,1.651227e+09,Pension Oaoa
31,east london,-33.0153,27.9116,26.05,53.0,4.0,9.12,ZA,1.651227e+09,Tu Casa
53,faanui,-16.4833,-151.7500,27.73,71.0,1.0,10.12,PF,1.651227e+09,Bora-Bora Pearl Beach Resort & Spa
107,qujing,25.4833,103.7833,28.01,20.0,15.0,7.32,CN,1.651227e+09,Yulong Hotel
191,tiarei,-17.5333,-149.3333,25.01,74.0,3.0,10.10,PF,1.651227e+09,Le Rocher de Tahiti
258,fare,-16.7000,-151.0167,27.65,69.0,1.0,10.90,PF,1.651227e+09,Maitai Lapita Village Huahine
479,pasni,25.2631,63.4710,31.46,61.0,0.0,10.35,PK,1.651227e+09,Kashmiri Hotal
490,vaitape,-16.5167,-151.7500,27.71,71.0,1.0,10.11,PF,1.651227e+09,Conrad Bora Bora Nui
525,lianran,24.9227,102.4850,27.30,19.0,7.0,6.33,CN,1.651227e+09,半岛酒店

In [13]:
hotel_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
6,rikitea,-23.1203,-134.9692,25.12,63.0,8.0,8.28,PF,1.651227e+09,People ThankYou
10,tautira,-17.7333,-149.1500,26.96,75.0,13.0,9.38,PF,1.651227e+09,Pension Oaoa
31,east london,-33.0153,27.9116,26.05,53.0,4.0,9.12,ZA,1.651227e+09,Tu Casa
53,faanui,-16.4833,-151.7500,27.73,71.0,1.0,10.12,PF,1.651227e+09,Bora-Bora Pearl Beach Resort & Spa
107,qujing,25.4833,103.7833,28.01,20.0,15.0,7.32,CN,1.651227e+09,Yulong Hotel
191,tiarei,-17.5333,-149.3333,25.01,74.0,3.0,10.10,PF,1.651227e+09,Le Rocher de Tahiti
258,fare,-16.7000,-151.0167,27.65,69.0,1.0,10.90,PF,1.651227e+09,Maitai Lapita Village Huahine
479,pasni,25.2631,63.4710,31.46,61.0,0.0,10.35,PK,1.651227e+09,Kashmiri Hotal
490,vaitape,-16.5167,-151.7500,27.71,71.0,1.0,10.11,PF,1.651227e+09,Conrad Bora Bora Nui
525,lianran,24.9227,102.4850,27.30,19.0,7.0,6.33,CN,1.651227e+09,半岛酒店

In [14]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [15]:
# Add marker layer ontop of heat map

# Create a marker_layer using the poverty list to fill the info box
fig = gmaps.figure()
markers = gmaps.marker_layer(locations,
    info_box_content=[f"<br><b>Hotel</b>:</br> {hotel_df['Hotel Name'][ind]}, <br><b>City:</br></b> {hotel_df['City'][ind]}, <br><b>Country:</br></b> {hotel_df['Country'][ind]}" for ind in hotel_df.index])
fig.add_layer(markers)

fig.add_layer(heat_layer)
fig

# Display figure

Figure(layout=FigureLayout(height='420px'))